header {
  margin-bottom: 40px;
}
.header-wrapper {
  height: 1142px;
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: center;
}
.header-content {
  margin-top: 60px;
  text-align: center;
}
.header-content-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;

  color: #fff;
}
.header-content-title span {
  color: #dba833;
}
.header-content-cards {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-content--card {
  padding: 10px;
  margin-right: 40px;

  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #dba833;

  background: #242424;
  border: 2px dashed #dba833;
}
.header-content-desc {
  margin-top: 30px;

  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #cecece;
}
.header-content-btn {
  margin-top: 30px;
  padding: 15px 60px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;

  background: #dba833;
  border-radius: 5px;
}

.diesel-fuel-type {
  margin-bottom: 120px;
}
.type-container {
  max-width: 1084px;
  margin: 0 auto;
}
.type-cards {
  display: flex;
  flex-direction: column;
}
.type-card {
  margin-bottom: 30px;
  height: 330px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #ffffff;
  border: 2px dashed #828282;
  border-radius: 40px;
}
.type-card_img {
  padding: 20px;
}
.type-card_text {
  /* margin: 58px 144px; */
  width: 580px;
  display: flex;
  flex-direction: column;

  text-align: center;
}
.type-card_title {
  margin-bottom: 10px;

  font-weight: 600;
  font-size: 32px;
  line-height: 39px;

  color: #000000;
}
.type-card_paragraph {
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #5b5b5b;
}
.type-card_btn {
  padding: 13px 128px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #dba833;

  border: 2px solid #dba833;
  border-radius: 5px;
}
