body {
  font-family: "Inter", sans-serif;
  /* font-family: "Rubik", sans-serif; */
}
header {
  background-image: url("../img/bg-header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1142px;
}
.rubik_title {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  color: #000;
}
.rubik_title span {
  color: #dba833;
}
.text_desc {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #5b5b5b;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.nav-wrapper {
  padding-top: 22px;
  display: flex;
}
.header-wrapper {
  height: 1142px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin-right: 34px;
}
.navbar {
  display: flex;
  flex-direction: column;
}
.nav-top {
  display: flex;
  justify-content: space-between;
  padding: 9px 0;
  border-top: 2px dashed #4f4f4f;
  border-bottom: 2px dashed #4f4f4f;
}
.nav-bottom {
  margin-top: 22px;
  display: flex;
  justify-content: space-between;
}
.nav-top-item {
  margin-right: 37px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  transition: 0.3s;
}
.nav-top-item:hover {
  color: #dba833;
}
.nav-top-item:last-child {
  margin-right: 0;
}
.nav-bottom-item,
.nav-bottom-item a {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #b6b6b6;
}

.contract__inner {
  margin-bottom: 160px;
  text-align: center;
}
.contract-title {
  margin-bottom: 5px;
}
.contract-desc {
  margin-bottom: 30px;
}
.contract-list {
  display: flex;
  align-items: center;
}
.contract-img {
  margin-right: 40px;
}
.geography-delivery {
  margin-bottom: 160px;
  text-align: center;
}
.delivery-title {
  margin-bottom: 23px;
}

.clients {
  margin-bottom: 120px;
  text-align: center;
}
.clients-desc {
  margin-bottom: 20px;
}
.clients-list {
  display: flex;
  align-items: center;
}
.clients-img {
  margin-right: 43px;
}

.feedback__inner {
  margin-bottom: 80px;
  background: #f8f8f8;
  border: 3px dashed #dba833;
  border-radius: 150px;
}
.feedback-title {
  padding-top: 25px;
  margin-bottom: 20px;
  text-align: center;
}

.feedback-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feedback--item {
  margin-bottom: 30px;
  padding: 30px 40px;
  width: 990px;
  height: 360px;
  display: flex;
  border: 1px solid #000;
  border-radius: 50px;
  background: #fff;
}
.feedback--item_prompt {
  margin-right: 15px;
  text-align: center;
  writing-mode: vertical-rl;
  transform: rotate(180deg);

  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #b6b6b6;
}
.feedback--item_img {
  margin-right: 40px;
  cursor: pointer;
}
.feedback--item_text {
  width: 600px;
}
.feedback-item_title {
  font-size: 32px;
  color: #dba833;
}
.feedback--item_paragraph {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  color: #5b5b5b;
}

.mb60 {
  margin-bottom: 60px;
}
.news__inner {
  margin-bottom: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.news-title {
  margin-bottom: 30px;
  text-align: center;
}
.news--items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.news--item {
  margin-right: 40px;
  width: 310px;
  display: flex;
  flex-direction: column;

  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
}
.news--item_img {
  height: 190px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #f8f8f8;
  border-bottom: 1px solid #000000;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.news--item_text,
.news--item_title {
  font-family: "Rubik", sans-serif;
}
.news--item_title {
  margin-top: 20px;
  padding: 0 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
.news--item_text {
  padding: 0 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #5b5b5b;
}
.news--item_btn {
  margin: 20px 20px;
  width: 270px;
  height: 39px;

  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #dba833;
  border: 1px solid #dba833;
  border-radius: 5px;
}
.news-btn {
  margin-top: 30px;
  width: 350px;
  height: 50px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #dba833;

  border: 2px solid #dba833;
  border-radius: 5px;
}

.contacts-us {
  background-image: url("../img/formbg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.form-container {
  margin: 0 auto;
  max-width: 1263px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts-form_title {
  font-size: 36px;
  color: #fff;
}
.contacts-form_input {
  width: 400px;
  padding: 10px 0;
  padding-left: 10px;
  margin-right: 15px;

  background: rgba(30, 30, 30, 0.7);
  border: 1px solid #ffffff;
  backdrop-filter: blur(2px);
  border-radius: 5px;
}
.contacts-form_input::placeholder {
  color: #fff;
}
.btn__group {
  margin-bottom: -73px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.contacts-form_btn {
  width: 370px;
  height: 44px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #dba833;
  background: #ffffff;
  border: 2px solid #dba833;
  backdrop-filter: blur(2px);

  border-radius: 5px;
}
.contacts-form label {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #ffffff;
}
.contacts-form label a {
  text-decoration: underline;
  color: #fff;
}

.team {
  background-image: url("../img/bgteam.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.team-title {
  padding-top: 35px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}
.team {
  height: 684px;
}
.team-container {
  max-width: 1110px;
  margin: 0 auto;
}
.team-items {
  display: flex;
}
.team-item {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-item_img {
  margin-bottom: 15px;
}
.team-item_title {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;

  color: #dba833;
}
.team-item_desc {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;

  color: #ffffff;
}
.team-item_number a {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #b9b9b9;
}
.upper-menu {
  margin-top: 50px;
  margin-bottom: 37px;
  display: flex;
}
.documents-link {
  display: flex;
  flex-direction: column;
}
.documents-link--item {
  margin-bottom: 15px;

  font-weight: 500;
  font-size: 12px;
  line-height: 15px;

  color: #dba833;
}
.menu-link {
  display: flex;
}
.menu-link div {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
}
.menu-link--item {
  margin-bottom: 15px;

  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #5b5b5b;
}
.login-cabinet {
  margin-left: 37px;
  width: 175px;
  height: 86px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  color: #b6b6b6;
  border: 2px solid #b6b6b6;
  border-radius: 10px;
}
.footer-line {
  margin-bottom: 30px;
  border: 2px dashed #b6b6b6;
}
.lower-menu {
  margin-bottom: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lower-menu div {
  display: flex;
}
.copyright,
.police a {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #5b5b5b;
}
.police {
  margin-left: 49px;
  text-decoration: underline;
}
.social-title {
  margin-right: 36px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}
.social {
  display: flex;
  align-items: center;
}
.social-items {
  display: flex;
  align-items: center;
}
.social--item {
  margin-right: 25px;
}
